In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
cab_data = pd.read_csv('/Users/vaweng02/Desktop/Data_Glacier/Week2/Cab_Data.csv')
city = pd.read_csv('/Users/vaweng02/Desktop/Data_Glacier/Week2/City.csv')
customer_id = pd.read_csv('/Users/vaweng02/Desktop/Data_Glacier/Week2/Customer_ID.csv')
transaction_id = pd.read_csv('/Users/vaweng02/Desktop/Data_Glacier/Week2/Transaction_ID.csv')

In [28]:
print("cab_data original shape:", cab_data.shape)
cab_data.drop_duplicates()
print("cab_data (after removing duplicates) shape:", cab_data.shape)
cab_data.dropna()
print("cab_data (after removing NA) shape:", cab_data.shape)

print("city original shape:", city.shape)
city.drop_duplicates()
print("city (after removing duplicates) shape:", city.shape)
city.dropna()
print("city (after removing NA) shape:", city.shape)

print("customer_id original shape:", customer_id.shape)
customer_id.drop_duplicates()
print("customer_id (after removing duplicates) shape:", customer_id.shape)
customer_id.dropna()
print("customer_id (after removing NA) shape:", customer_id.shape)

print("transaction_id original shape:", transaction_id.shape)
transaction_id.drop_duplicates()
print("transaction_id (after removing duplicates) shape:", transaction_id.shape)
transaction_id.dropna()
print("transaction_id (after removing NA) shape:", transaction_id.shape)
# Conclusion: No duplicate rows and NA values -> shape of all dataframes remained the same

cab_data original shape: (359392, 7)
cab_data (after removing duplicates) shape: (359392, 7)
cab_data (after removing NA) shape: (359392, 7)
city original shape: (20, 3)
city (after removing duplicates) shape: (20, 3)
city (after removing NA) shape: (20, 3)
customer_id original shape: (49171, 4)
customer_id (after removing duplicates) shape: (49171, 4)
customer_id (after removing NA) shape: (49171, 4)
transaction_id original shape: (440098, 3)
transaction_id (after removing duplicates) shape: (440098, 3)
transaction_id (after removing NA) shape: (440098, 3)

In [69]:
# Merging all datasets together based on foreign keys
master_data = (transaction_id.merge(cab_data, how= 'inner')).merge(customer_id, how='inner').merge(city, how= 'inner')
# Inserted new column of profits made with one transaction
master_data.insert(loc=9,
          column='Profit',
          value=master_data['Price Charged'] - master_data['Cost of Trip'])
master_data

,Transaction ID,Customer ID,Payment_Mode,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip,Profit,Gender,Age,Income (USD/Month),Population,Users
0,10000011,29290,Card,42377,Pink Cab,ATLANTA GA,30.45,370.95,313.6350,57.3150,Male,28,10813,"814,885","24,701"
1,10351127,29290,Cash,43302,Yellow Cab,ATLANTA GA,26.19,598.70,317.4228,281.2772,Male,28,10813,"814,885","24,701"
2,10412921,29290,Card,43427,Yellow Cab,ATLANTA GA,42.55,792.05,597.4020,194.6480,Male,28,10813,"814,885","24,701"
3,10000012,27703,Card,42375,Pink Cab,ATLANTA GA,28.62,358.52,334.8540,23.6660,Male,27,9237,"814,885","24,701"
4,10320494,27703,Card,43211,Yellow Cab,ATLANTA GA,36.38,721.10,467.1192,253.9808,Male,27,9237,"814,885","24,701"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359387,10307228,51406,Cash,43162,Yellow Cab,WASHINGTON DC,38.40,668.93,525.3120,143.6180,Female,29,6829,"418,859","127,001"
359388,10319775,51406,Cash,43203,Yellow Cab,WASHINGTON DC,3.57,67.60,44.5536,23.0464,Female,29,6829,"418,859","127,001"
359389,10347676,51406,Card,43287,Yellow Cab,WASHINGTON DC,23.46,331.97,337.8240,-5.8540,Female,29,6829,"418,859","127,001"
359390,10358624,51406,Cash,43314,Yellow Cab,WASHINGTON DC,27.60,358.23,364.3200,-6.0900,Female,29,6829,"418,859","127,001"
359391,10370709,51406,Card,43342,Yellow Cab,WASHINGTON DC,34.24,453.11,427.3152,25.7948,Female,29,6829,"418,859","127,001"

In [48]:
print("Pink Cab Rows:", len(master_data[master_data["Company"]=="Pink Cab"]))
print("Yellow Cab Rows:",len(master_data[master_data["Company"]=="Yellow Cab"]))
print("Yellow Cab has", 274681/84711, "times as many rows as Pink Cab")
# Conclusion: Yellow Cab dataset is much more represented than Pink Cab Dataset

Pink Cab Rows: 84711
Yellow Cab Rows: 274681
Yellow Cab has 3.2425659005323983 times as many rows as Pink Cab

In [54]:
print("Average age of Pink Cab Customers:", master_data.loc[master_data['Company'] == 'Pink Cab', 'Age'].mean())
print("Average age of Yellow Cab Customers:", master_data.loc[master_data['Company'] == 'Yellow Cab', 'Age'].mean())
# Conclusion: Essentially the same average ages (almost identical)

Average age of Pink Cab Customers: 35.322413854162974
Average age of Yellow Cab Customers: 35.34111205361856

In [59]:
print("Average income of Pink Cab Customers:", master_data.loc[master_data['Company'] == 'Pink Cab', 'Income (USD/Month)'].mean())
print("Average income of Pink Cab Customers:", master_data.loc[master_data['Company'] == 'Yellow Cab', 'Income (USD/Month)'].mean())
# Conclusion: Essentially the same average incomes (almost identical)

Average income of Pink Cab Customers: 15059.04713673549
Average income of Pink Cab Customers: 15045.669816987705